target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.DS_Store
helloworld-camel-spring-boot/.classpath
helloworld-camel-spring-boot/.settings/org.eclipse.jdt.core.prefs
camel-java8-activemq/.classpath
camel3-cdi/cdi-rabbit-consumer/onException.log
camel3-cdi/istio07-camel-cdi-rabbitmq/upstream.log
